body {
    background-color:#f4845f;
    color: #f7b267
}
#covidimg1 {
    display: flex; 
    flex-wrap: wrap;
  }
}
.new-num {
    display: flex;
}
.new {
    margin-right: 20px;
}
.total-num {
    display: flex;
}
.total {
margin-right: 20px;
}
.new-deathNum {
    display: flex;
}
.newd {
margin-right: 20px;
}
.total-deaths {
    display: flex;
}
.totald {
margin-right: 20px;
}
.new-recovNum {
    display: flex;
}
.newr {
margin-right: 20px;
}